In [1]:
import os, sys
import pandas as pd
import numpy as np
import mysql.connector

stdout = sys.stdout
reload(sys)
sys.setdefaultencoding('latin-1')
sys.stdout = stdout

In [5]:
conn = mysql.connector.connect(host='localhost', database='links_zeeland', user='root', password='3016BE_17e') 
fathers = pd.read_sql("SELECT id_registration, firstname, familyname FROM persons WHERE registration_maintype = 1 and role = 3", con=conn)
mothers = pd.read_sql('SELECT id_registration, firstname, familyname FROM persons WHERE registration_maintype = 1 and role = 2', con=conn)
conn.close()

       id_registration
count    698218.000000
mean     349253.007211
std      201655.811865
min           1.000000
25%      174607.250000
50%      349247.500000
75%      523891.750000
max      698557.000000

In [15]:
merged = fathers.merge(mothers, on='id_registration')
merged.columns = ['id_registration', 'fname_p_m', 'lname_p_m', 'fname_p_f', 'lname_p_f']
merged.fname_p_m = merged.fname_p_m.apply(lambda s: s.split(' ')[0])
merged.fname_p_f = merged.fname_p_f.apply(lambda s: s.split(' ')[0])
merged

        id_registration   fname_p_m     lname_p_m   fname_p_f    lname_p_f
0                     1        joos       stevens  franciesca         laat
1                     2      petrus     vermeulen       maria         kock
2                     3  theophilus       ververs      sophia    hulstaert
3                     4    johannes    verwilghen    angelina   verwilghen
4                     5     hendrik       meijers   catharina       wattel
5                     6   bernardus    verstraete      louisa      lecleir
6                     7     marinus          rijk    tannetje       remijn
7                     8       janes      schipper    cornelia   lindenberg
8                     9      pieter          beun       maria          vos
9                    10    dingenis       verburg       maria       kramer
10                   11     marinus    schroevers   roberdina         baak
11                   12       johan       broeder   willemina       rommel
12                   13     gustaaf        marthe       maria       giesen
13                   14       evert         duren   elizabeth          wit
14                   15       jacob        felius     poulina       wabeke
15                   16     abraham        meijer     susanna        damme
16                   17    johannes      marchaud   willemina        meurs
17                   18    cornelis        kraker      levina         dees
18                   19     abraham       caljouw      maatje        kodde
19                   20     jacobus        vondel       janna     dieleman
20                   21     hendrik        rijkse   catharina     tazelaar
21                   22     hendrik         rijke       janna      weduwen
22                   23        izak        gorsel     teuntje   helmstrijd
23                   24      pieter         serie   elisabeth      minnebo
24                   25     andreas      westmaas    cornelia         elve
25                   26        lein        weijze       maria       izakse
26                   27         jan         aalst       janna        harte
27                   28        dirk       trieper  wilhelmina      schorer
28                   29      pieter      driedijk       maria      boonman
29                   30      pieter    hoogenboom     adriana        bolle
...                 ...         ...           ...         ...          ...
698169           698528    leendert           vos    jacomina    verbrugge
698170           698529      pieter    allewijnse   catharina      boerman
698171           698530        jean       esbroek       maria        valck
698172           698531     marinus        ruster    cornelia       wabeke
698173           698532    cornelis        lansen     johanna       harten
698174           698533     abraham      nonhebel   elisabeth        sterk
698175           698534    cornelis   breugelmans    cornelia        bavel
698176           698535       james       forster       sally       walker
698177           698536      leunis         vliet    jannetje        berge
698178           698537       krijn         noels     martina     boogaard
698179           698538      siemon       miedema     johanna        polis
698180           698539      jannis         joris      josina         wind
698181           698540         jan          have      breela         bout
698182           698541    josephus          blok   elisabeth         borm
698183           698542   huibrecht  stoutjesdijk      jacoba         maas
698184           698543    cornelis     maartense   elizabeth  almekinders
698185           698544    josephus        witkam     klasina      martein
698186           698545    leendert         jonge     johanna        linde
698187           698546    anthonie         gunst   catharina       gorsel
698188           698547     emilius      fassaert    mathilda          mol
698189           698548     dingnis    coessement     adriana        hooft
698190           698549     marinus      jongmans    cornelia  breugelmans
698191           698550        lein          maas   elizabeth      simonse
698192           698551                              cornelia        dries
698193           698552         jan     roggeband    cornelia     lindhout
698194           698553       desij          pauw    clemence      mattijs
698195           698554      adrien       perdaan        anne         waal
698196           698555     klemens    kohschulte      helena    straatman
698197           698556      jozias     schippers      jacoba     verhulst
698198           698557      joseph        gijzel     paulina         neve

[698199 rows x 5 columns]

In [18]:
merged.to_csv('datafiles/links/input/geboorte_ouders.csv', header=False, index=False, sep='|', line_terminator='\n')