In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from programs.utils.analyse_functies import *
SAVEFIGS = False

In [2]:
geboorte_matches = pd.read_csv('datafiles/dataframes/working/geboorte_lvl_3_extended.csv', sep="|", index_col=False).drop("ED_Label", axis=1)
extra_lvl_4_loose = pd.read_csv('datafiles/dataframes/working/geboorte_extra_lvl_4_loose.csv', sep="|", index_col=False).drop(["ED_Label", "Label"], axis=1)
extra_lvl_5_loose = pd.read_csv('datafiles/dataframes/working/geboorte_extra_lvl_5_loose.csv', sep="|", index_col=False).drop(["ED_Label", "Label"], axis=1)

extra_lvl_4_strict = pd.read_csv('datafiles/dataframes/working/geboorte_extra_lvl_4_strict.csv', sep="|", index_col=False).drop(["ED_Label", "Label"], axis=1)
extra_lvl_5_strict = pd.read_csv('datafiles/dataframes/working/geboorte_extra_lvl_5_strict.csv', sep="|", index_col=False).drop(["ED_Label", "Label"], axis=1)

registration_dates = pd.read_csv('datafiles/links/LINKS_Zeeland_cleaned_2016_01_Registrations.csv', sep=";")

C:\Users\wouter\Anaconda2\envs\bachelorscriptie\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print geboorte_matches.shape
print extra_lvl_4_loose.shape
print extra_lvl_5_loose.shape

print extra_lvl_4_strict.shape
print extra_lvl_5_strict.shape

(556549, 19)
(10107, 19)
(4795, 19)
(4217, 19)
(1700, 19)

In [4]:
geboorte_matches_loose = pd.concat([geboorte_matches, extra_lvl_4_loose, extra_lvl_5_loose])
geboorte_matches_strict = pd.concat([geboorte_matches, extra_lvl_4_strict, extra_lvl_5_strict])

In [5]:
print geboorte_matches_loose.shape
print geboorte_matches_strict.shape

(571451, 19)
(562466, 19)

In [6]:
geboorte_matches_loose.grouopby('')

,dist,id_1,target_name_1,target_name_2,target_name_3,target_name_4,id_2,candidate_name_1,candidate_name_2,candidate_name_3,candidate_name_4,length_name_1,length_name_2,length_name_3,length_name_4,dist_name_1,dist_name_2,dist_name_3,dist_name_4
0,2,701331,cornelis,jansen,johanna,ee,129230,cornelis,jansen,janna,ee,8,6,7,2,0,0,2,0
1,2,701331,cornelis,jansen,johanna,ee,161932,cornelis,jansen,janna,ee,8,6,7,2,0,0,2,0
2,0,704975,francois,orlebeke,anna,ee,92863,francois,orlebeke,anna,ee,8,8,4,2,0,0,0,0
3,0,704975,francois,orlebeke,anna,ee,347965,francois,orlebeke,anna,ee,8,8,4,2,0,0,0,0
4,0,704975,francois,orlebeke,anna,ee,373156,francois,orlebeke,anna,ee,8,8,4,2,0,0,0,0
5,0,704975,francois,orlebeke,anna,ee,439624,francois,orlebeke,anna,ee,8,8,4,2,0,0,0,0
6,0,704975,francois,orlebeke,anna,ee,480756,francois,orlebeke,anna,ee,8,8,4,2,0,0,0,0
7,0,704975,francois,orlebeke,anna,ee,524095,francois,orlebeke,anna,ee,8,8,4,2,0,0,0,0
8,2,891300,jannis,verbrugge,johanna,ee,71156,jannis,verbrugge,janna,ee,6,9,7,2,0,0,2,0
9,2,891300,jannis,verbrugge,johanna,ee,429783,jannis,verbrugge,janna,ee,6,9,7,2,0,0,2,0
10,1,811218,jannis,reu,maria,eggel,296559,jannis,reu,maria,eggee,6,3,5,5,0,0,0,1
11,0,726156,jacobus,dieleman,maria,ee,477316,jacobus,dieleman,maria,ee,7,8,5,2,0,0,0,0
12,3,847018,jacobus,dieleman,maria,deij,477316,jacobus,dieleman,maria,ee,7,8,5,4,0,0,0,3
13,0,871025,pieter,dees,maria,ee,168906,pieter,dees,maria,ee,6,4,5,2,0,0,0,0
14,0,871025,pieter,dees,maria,ee,262425,pieter,dees,maria,ee,6,4,5,2,0,0,0,0
15,0,871025,pieter,dees,maria,ee,309529,pieter,dees,maria,ee,6,4,5,2,0,0,0,0
16,0,871025,pieter,dees,maria,ee,534442,pieter,dees,maria,ee,6,4,5,2,0,0,0,0
17,0,871025,pieter,dees,maria,ee,666956,pieter,dees,maria,ee,6,4,5,2,0,0,0,0
18,3,820891,johannes,goedhals,adriana,ee,16076,jannis,goedhals,adriana,ee,8,8,7,2,3,0,0,0
19,3,820891,johannes,goedhals,adriana,ee,360564,jannis,goedhals,adriana,ee,8,8,7,2,3,0,0,0
20,0,820891,johannes,goedhals,adriana,ee,240952,johannes,goedhals,adriana,ee,8,8,7,2,0,0,0,0
21,0,762351,cornelis,jonge,sara,ee,406465,cornelis,jonge,sara,ee,8,5,4,2,0,0,0,0
22,0,795855,cornelis,kramer,sara,ee,26232,cornelis,kramer,sara,ee,8,6,4,2,0,0,0,0
23,0,795855,cornelis,kramer,sara,ee,448142,cornelis,kramer,sara,ee,8,6,4,2,0,0,0,0
24,0,795855,cornelis,kramer,sara,ee,520462,cornelis,kramer,sara,ee,8,6,4,2,0,0,0,0
25,0,795855,cornelis,kramer,sara,ee,576198,cornelis,kramer,sara,ee,8,6,4,2,0,0,0,0
26,0,721357,josephus,babijn,catharina,ee,18791,josephus,babijn,catharina,ee,8,6,9,2,0,0,0,0
27,0,721357,josephus,babijn,catharina,ee,76833,josephus,babijn,catharina,ee,8,6,9,2,0,0,0,0
28,0,721357,josephus,babijn,catharina,ee,132027,josephus,babijn,catharina,ee,8,6,9,2,0,0,0,0
29,0,721357,josephus,babijn,catharina,ee,144839,josephus,babijn,catharina,ee,8,6,9,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4765,5,826392,stephanus,roelse,klara,huijbregtsen,216967,stephanus,roelse,clara,huybrechtsen,9,6,5,12,0,0,1,4
4766,5,804986,pieter,cusse,cecelia,terling,695450,pieter,kusse,cecilia,teerlinck,6,5,7,7,0,1,1,3
4767,5,754638,anthonij,vlaanderen,maria,leenderts van noorden,400043,anthonie,vlanderen,maria,linders van noorden,8,10,5,21,1,1,0,3
4768,5,867446,petrus,verstraeten,maria,arnold,509956,petrus,verstraete,maria,aernoudts,6,11,5,6,0,1,0,4
4769,5,817265,camil,martens,maria,heijndrikx,60604,camiel,martens,maria,hendrikse,5,7,5,10,1,0,0,4
4770,5,729016,johannes,boone,maria,frederiks,199396,johannes,boonen,maria,hendriks,8,5,5,9,0,1,0,4
4771,5,788500,jacobus,mooij,maria,ceulemans,357722,jacobus,rooij,maria,breugelmans,7,5,5,9,0,1,0,4
4772,5,737441,jan,weststrate,marretje,hendriks,377803,jan,weststrate,margie,hendrikse,3,10,8,8,0,0,4,1
4773,5,825987,johannis,filius,adriaantje,aarnoudse,552079,johannes,filius,adriana,aarnoudse,8,6,10,9,1,0,4,0
4774,5,744980,antonius,deinse,krina,klugten van balen,376964,anthonius,deinse,crina,kluchten van baalen,8,6,5,17,1,0,1,3
4775,5,823326,johannis,timmerman,adriaantje,hendrikse,411438,johannes,timmerman,adriana,hendrikse,8,9,10,9,1,0,4,0
4776,5,823326,johannis,timmerman,adriaantje,hendrikse,66015,johannis,timmermans,adriana,hendrikse,8,9,10,9,0,1,4,0
4777,5,759414,willem,hendrikse,adriaana,huijbregtse,450923,willem,hendrikse,adriana,huibrechtsen,6,9,8,11,0,0,1,4
4778,5,791979,jannis,cubber,tanneke,teerling,423744,jannis,kubber,tannetje,teerlinck,6,6,7,8,0,1,2,2
4779,5,759668,klaas,siereveld,jannetje,cornelisse,609538,klaas,ziereveld,grietje,cornelisse,5,9,8,10,0,1,4,0
4780,5,759668,klaas,siereveld,jannetje,cornelisse,67783,klaas,sierveld,grietje,cornelisse,5,9,8,10,0,1,4,0
4781,5,702854,franciscus,verrij,petronella,hendrik,60086,franciscus,verreij,pieternella,hendriks,10,6,10,7,0,1,3,1
4782,5,702854,franciscus,verrij,petronella,hendrik,681142,franciscus,verreij,pieternella,hendriks,10,6,10,7,0,1,3,1
4783,5,851689,marinus,zoeteweij,geertrui,custermans,478128,marinus,zoetewei,geertruida,kusterman,7,9,8,10,0,1,2,2
4784,5,753599,cornelus,jansen,catalintie,oosterlink,109425,cornelis,jansen,cathalijntje,oosterlinck,8,6,10,10,1,0,3,1
4785,5,710023,cornelis,leeuwe,carolina,staubinger,528440,cornelis,leeuwe,catharina,staufbinger,8,6,8,10,0,0,4,1
4786,5,812091,abraham,smit,katharijna,strosnijder,15217,abram,smit,catharina,stroosnijder,7,4,10,11,2,0,2,1
4787,5,760715,abraham,schipper,johanna,geelhoed,211937,abraham,schippers,johanna,neerhoudt,7,8,7,8,0,1,0,4
4788,5,760715,abraham,schipper,johanna,geelhoed,216890,abraham,schippers,johanna,neerhoudt,7,8,7,8,0,1,0,4
4789,5,760715,abraham,schipper,johanna,geelhoed,583010,abraham,schippers,johanna,neerhoudt,7,8,7,8,0,1,0,4
4790,5,747055,jannis,fernieau,janneke,hendriks,220308,johannes,farnieau,janneke,hendrikse,6,8,7,8,3,1,0,1
4791,5,755586,isaac,kramer,jeanne,hendrikx,114354,isaac,kraamer,janneke,hendriks,5,6,6,8,0,1,3,1
4792,5,765778,hubregt,boonman,catrina,minderhout,389516,hubrecht,booman,katarina,minderhout,7,7,7,10,2,1,2,0
4793,5,770861,hubregt,boonman,catharina,minderhout,389516,hubrecht,booman,katarina,minderhout,7,7,9,10,2,1,2,0
4794,5,707451,jan,rijstenbil,kathalijntje,krijgsman,642246,jan,rijssenbil,catolientje,krijgsman,3,10,12,9,0,1,4,0

In [6]:
rowcounter = 0
geboorte_matches_loose['mar_date'], geboorte_matches_loose['event_date'] = zip(*geboorte_matches_loose.apply(get_event_date, axis=1, args=(registration_dates, rowcounter)))

In [7]:
geboorte_matches_strict['mar_date'], geboorte_matches_strict['event_date'] = zip(*geboorte_matches_strict.apply(get_event_date, axis=1, args=(registration_dates, rowcounter)))

In [8]:
geboorte_matches_loose.to_csv('datafiles/dataframes/working/huwelijk_geboortes_inclusief_lvl4_lvl5_loose.csv', sep="|", index=False)
geboorte_matches_strict.to_csv('datafiles/dataframes/working/huwelijk_geboortes_inclusief_lvl4_lvl5_strict.csv', sep="|", index=False)